{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'pt-6 pb-6 pt-lg-12 pb-lg-12',
  ]
%}

{%
  set link = {
    url: content.field_link[0]['#url'],
    text: content.field_link[0]['#title'],
    icon: 'arrow_right_alt',
    modifier: 'btn-primary has-icon',
  }
%}

{%
  set modifier = content.field_teaser_layout['#items'].getString()
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {%
      include '@ignite_theme/side-by-side/side-by-side.twig' with {
        title: content.field_title|field_value,
        eyebrow: content.field_eyebrow|field_value,
        body: content.field_summary,
        button: link,
        media: content.field_media,
        modifier: modifier,
      } only
    %}
  {% endblock %}
</div>
