{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set
  heading_content = {
    title: content.field_title|field_value,
    icon: content.field_icon,
    heading_level: '3',
    modifier: 'mb-3'
  }
%}

{%
  set link = {
    url: content.field_link[0]['#url'],
    text: content.field_link[0]['#title']
  }
%}

{% block paragraph %}
  {% block content %}
    {% include '@ignite_theme/card/card.twig' with {
        card: {
          modifier: '',
          media: content.field_media,
          heading: heading_content,
          summary_text: content.field_summary,
          link: link,
        }
      } only
    %}
  {% endblock %}
{% endblock paragraph %}
