{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'container-fluid',
    'mb-10',
  ]
%}
{% if (content.field_title) %}
  <div class="container-fluid">
    {%
      include '@ignite_theme/heading/heading.twig' with {
        "heading": {
          "title": content.field_title|field_value,
          "heading_level": "2",
          "modifier": "mb-3",
        },
      } only
    %}
  </div>
{% endif %}

<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {%
      include '@ignite_theme/embed/embed.twig' with {
        embed: content.field_media,
      } only
    %}
  {% endblock %}
</div>
