{{ attach_library('ignite_theme/hero') }}

<div class="hero{{ layout ? ' ' ~ layout }}">
  <div class="hero-media{{ overlay ? ' ' ~ overlay }}{{ sb_overlay|length ? sb_overlay ? ' remove-overlay' : '' }}">
    {% if 'sb-only' in modifier %}
      <picture>{{ media }}</picture>
    {% else %}
      {{ media }}
    {% endif %}
  </div>
  <div class="hero-content container">
    <div class="row{{ ('default' in modifier) ? ' justify-content-center' }}">
      <div class="d-flex flex-column align-self-center gap-3 gap-lg-4 py-4{{ modifier ? ' ' ~ modifier }}{{ sb_overlay|length ? sb_overlay ? ' text-dark' : ' text-light' : '' }}">
        {% if eyebrow %}
          <div class="text-uppercase fs-7">
            {{ eyebrow }}
          </div>
        {% endif %}
        {% if title %}
          {{ include(
            '@ignite_theme/heading/heading.twig',
            {
              heading: {
                title: title,
                heading_level: 1,
                modifier: 'display-3 mb-0'
              }
            },
            with_context = false
          )}}
        {% endif %} 
        {% if subtitle %}
          {{ include(
            '@ignite_theme/heading/heading.twig',
            {
              heading: {
                title: subtitle,
                heading_level: 2,
                modifier: 'display-3 fs-5 mb-0'
              }
            },
            with_context = false
          )}}
        {% endif %}
        {% if button.url %}
          {{ include(
            '@ignite_theme/button/button.twig',
            {
              button: button
            },
            with_context = false
          )}}
        {% endif %}
      </div>
    </div>
  </div>

</div>
