{{ attach_library('ignite_theme/gallery-lightbox') }}
{% if section_title %}
  {%
    include '@ignite_theme/heading/heading.twig' with {
      "heading": {
        "title": section_title,
        "heading_level": 2,
        "modifier": "mb-4 text-md-center"
      }
    } only
  %}
{% endif %}

<div class="d-flex justify-content-center">
  {% if intro_text %}
    {%
      include '@ignite_theme/rich-text/rich-text.twig' with {
        "body_text": intro_text,
        "modifier": "text-md-center pb-3 col-md-8"
      } only
    %}
  {% endif %}
</div>

 <div class="row">
  {% block gallery_items %}
    {% for item in items %}
      {%
        include '@ignite_theme/gallery-lightbox/gallery-lightbox-item.twig' with {
          "media": item.media,
          "media_thumb": item.media_thumb,
          "media_description": item.media_description,
          "id": item.id,
        } only
      %}
    {% endfor %}
  {% endblock %}
</div>