{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'container-fluid',
    'mb-15',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {% embed '@ignite_theme/card-list/card-list.twig' with { section_title: content.field_title|field_value, content: content } only %}
      {% block card_items %}
        {% for i in content.field_card['#items'] %}
          <div class="col-sm-6 mb-4">
            {{ content.field_card[loop.index0] }}
          </div>
        {% endfor %}
      {% endblock %}
    {% endembed %}
    {% if content.field_link[0]['#url'] %}
      {% include '@ignite_theme/button/button.twig' with {
        "button": {
          "url": content.field_link[0]['#url'],
          "text": content.field_link[0]['#title'],
          "modifier": "btn-primary"
        }
      } only %}
    {% endif %}
  {% endblock %}
</div>
