{{ attach_library('ignite_theme/map') }}

<div class="map {{ modifier }}">
  <div class="card border-0">
    {{ map.map_embed }}

    <div class="card-body p-5">
      {% if map.eyebrow %}
        <h6 class="text-uppercase">
          {{ map.eyebrow.text }}
        </h6>
      {% endif %}
      {% if map.location %}
        <h2 class="mb-3">{{ map.location }}</h2>
      {% endif %}
      <div class="card-text">
        {{ map.address }}
        {% if card.summary_text %}
          {{ card.summary_text}}
        {% endif %}
      </div>
      {% if map.link %}
        {% include '@ignite_theme/button/button.twig' with {
            "button": {
              "url": map.link.url,
              "text": map.link.text,
              "icon": 'arrow_right_alt',
              "modifier": 'btn btn-primary'
            }
          } only %}
      {% endif %}
    </div>
</div>