{{ attach_library('ignite_theme/newsletter-form') }}

<div class="newsletter-form {{ modifier }}">
  <div class="row">
    <div class="col-lg-6">
      <h3 class="text-light">Get our tips, straight to your inbox</h3>
      <p>Learn how to improve your content editing flow.</p>
    </div>
    <div class="col-lg-6 mt-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username with two button addons">
        <button class="btn btn-light border-start border-dark text-dark btn-newsletter" type="button">Submit</button>
      </div>
    </div>
  </div>
</div>
