{{ attach_library('ignite_theme/card') }}

<div class="card border-0 {{ card.modifier }}
  {{- attributes ? ' ' ~ attributes.class -}}">
  {% block card_media %}
    {% if card.media %}
      {% if card.media_link %}
        <a href="{{ card.media_link }}">
      {% endif %}
      {{ card.media }}
      {% if card.media_link %}
        </a>
      {% endif %}
    {% endif %}
  {% endblock %}

  <div class="card-body p-0 mt-2 {{ card.body_modifier }}">
    {% if card.tags %}
      <ul class="list-inline mb-2">
        {% for tag in card.tags %}
          <li class="list-inline-item">
            {% include '@ignite_theme/badge/badge.twig' with {
              "tag": tag,
              "modifier": 'text-bg-primary'
            } only %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {%
      include '@ignite_theme/heading/heading.twig' with {
        "heading": card.heading
      } only
    %}
    <p class="card-text fs-6">
      {% if card.summary_text %}
        {{ card.summary_text }}
      {% endif %}
    </p>
    {% if card.link.url %}
      <ul class="list-inline mb-0">
        {% if card.link.url %}
          <li class="list-inline-item">
            {% include '@ignite_theme/button/button.twig' with {
              "button": {
                "url": card.link.url,
                "text": card.link.text,
                "icon": 'arrow_right_alt',
                "modifier": 'btn btn-primary px-4'
              }
            } only %}
          </li>
        {% endif %}
        {% if card.link2.url %}
          <li class="list-inline-item">
            {% include '@ignite_theme/button/button.twig' with {
              "button": {
                "url": card.link2.url,
                "text": card.link2.text,
                "icon": 'arrow_right_alt',
                "modifier": 'btn btn-outline-primary px-4'
              }
            } only %}
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
