{{ attach_library('ignite_theme/button') }}

{% if button.url %}
  <a href="{{ button.url }}" class="btn{{ button.modifier ? ' ' ~ button.modifier }}" role="button">{{ button.text }} {% if button.icon %}<span class="material-symbols-outlined">{{ button.icon }}</span>{% endif %}</a>
{% else %}
  <button class="btn{{ button.modifier ? ' ' ~ button.modifier }}">{{ button.text }}</button>
{% endif %}
