@import '../../global/bootstrap-init';

.btn {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  padding: 0.75em 1.5em;
  width: fit-content;
  --bs-btn-font-size: 0.875rem;

  &.btn-sm {
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    --bs-btn-font-size: 0.75rem;
  }

  @include media-breakpoint-up(lg) {
    --bs-btn-font-size: 1rem;

    &.btn-sm {
      --bs-btn-font-size: 0.875rem;
    }
  }

  // Adjust padding if icon present.
  &:has(.material-symbols-outlined) {
    padding: 0.75em 1.25em 0.75em 1.5em;
  }

  // Icon container.
  .material-symbols-outlined {
    margin-left: 0.25em;
    overflow: hidden;
  }

  // Add class if possible, just in case older browser doesn't support :has().
  &.has-icon {
    padding: 0.75em 1.25em 0.75em 1.5em;
  }

  &.btn-primary {
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);

    .bg-dark & {
      --bs-btn-color: var(--bs-dark);
      --bs-btn-bg: var(--bs-light);
      --bs-btn-hover-bg: var(--bs-secondary);
    }
  }

  &.btn-secondary {
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-primary);

    .bg-dark & {
      --bs-btn-hover-color: var(--bs-dark);
      --bs-btn-hover-bg: var(--bs-light);
    }
  }

  &.btn-outline-primary {

    .bg-dark & {
      --bs-btn-color: var(--bs-light);
      --bs-btn-border-color: var(--bs-light);
      --bs-btn-hover-border-color: var(--bs-secondary);
      --bs-btn-hover-bg: var(--bs-secondary);
    }
  }

  &.btn-outline-secondary {

    .bg-dark & {
      --bs-btn-color: var(--bs-gray-300);
      --bs-btn-border-color: var(--bs-gray-300);
      --bs-btn-hover-color: var(--bs-secondary);
      --bs-btn-hover-border-color: var(--bs-light);
      --bs-btn-hover-bg: var(--bs-light);
    }
  }
}

.sb-only {

  &.bg-dark {
    padding: 1rem;
    margin-top: -1rem;
    margin-left: -1rem;
  }
}
