{{ attach_library('ignite_theme/quote') }}

<div class="text-center d-flex justify-content-center p-3 pt-9 pb-9 bg-light rounded {{ quote.modifier_class }}">
  <div class="col-lg-10 col-xxxl-6">
    <div class="row">
      {% if quote.logo %}
        <div class="quote-logo col-lg-3 mx-auto mb-2">
          {{ quote.logo }}
        </div>
      {% endif %}
      <blockquote class="blockquote fs-4 mb-3 text-dark">
        <p class="p-3 fw-semibold">
          <span class="open-quote"><svg width="27" height="21" viewBox="0 0 27 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.38858 20.2C5.09325 20.2 3.97658 19.865 3.03858 19.195C2.14525 18.525 1.45291 17.654 0.961578 16.582C0.514912 15.4653 0.291578 14.237 0.291578 12.897C0.291578 11.1103 0.626578 9.413 1.29658 7.805C2.01124 6.197 2.97158 4.74533 4.17758 3.45C5.42824 2.15466 6.87991 1.12733 8.53258 0.367997L12.2176 3.383C11.0116 3.82966 9.91725 4.41033 8.93458 5.125C7.95191 5.83967 7.12558 6.64366 6.45558 7.537C5.78558 8.43033 5.29425 9.346 4.98158 10.284L5.24958 10.485C5.51758 10.3063 5.78558 10.1723 6.05358 10.083C6.36624 9.99367 6.81291 9.949 7.39358 9.949C8.01891 9.949 8.66658 10.1277 9.33658 10.485C10.0512 10.8423 10.6319 11.3783 11.0786 12.093C11.5699 12.763 11.8156 13.6563 11.8156 14.773C11.8156 15.845 11.5699 16.783 11.0786 17.587C10.5872 18.391 9.91725 19.0387 9.06858 19.53C8.26458 19.9767 7.37125 20.2 6.38858 20.2ZM20.7266 20.2C19.4312 20.2 18.3369 19.865 17.4436 19.195C16.5502 18.525 15.8579 17.654 15.3666 16.582C14.9199 15.4653 14.6966 14.237 14.6966 12.897C14.6966 11.1103 15.0316 9.413 15.7016 7.805C16.4162 6.197 17.3766 4.74533 18.5826 3.45C19.8332 2.15466 21.2849 1.12733 22.9376 0.367997L26.6226 3.383C25.4166 3.82966 24.3222 4.41033 23.3396 5.125C22.3569 5.83967 21.5306 6.64366 20.8606 7.537C20.1906 8.43033 19.6992 9.346 19.3866 10.284L19.6546 10.485C19.8779 10.3063 20.1459 10.1723 20.4586 10.083C20.7712 9.99367 21.1956 9.949 21.7316 9.949C22.4016 9.949 23.0716 10.1277 23.7416 10.485C24.4562 10.8423 25.0369 11.3783 25.4836 12.093C25.9749 12.763 26.2206 13.6563 26.2206 14.773C26.2206 15.845 25.9749 16.783 25.4836 17.587C24.9922 18.391 24.3222 19.0387 23.4736 19.53C22.6249 19.9767 21.7092 20.2 20.7266 20.2Z" fill="#111111"/>
          </svg></span>
          {{ quote.quote }}
          <span class="closed-quote"><svg width="27" height="21" viewBox="0 0 27 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.45087 0.351999C7.79087 0.351999 8.90753 0.686999 9.80087 1.357C10.6942 1.98233 11.3642 2.85333 11.8109 3.97C12.3022 5.042 12.5479 6.27033 12.5479 7.655C12.5479 9.397 12.1905 11.072 11.4759 12.68C10.8059 14.288 9.84553 15.7397 8.59487 17.035C7.38887 18.3303 5.95953 19.38 4.30687 20.184L0.621867 17.169C1.82787 16.7223 2.9222 16.1193 3.90487 15.36C4.88753 14.6453 5.71387 13.8413 6.38387 12.948C7.09853 12.0547 7.58987 11.139 7.85787 10.201L7.58987 10.067C7.36653 10.201 7.09853 10.3127 6.78587 10.402C6.4732 10.4913 6.02653 10.536 5.44587 10.536C4.82053 10.536 4.15053 10.3573 3.43587 10C2.76587 9.64267 2.1852 9.129 1.69387 8.459C1.2472 7.74433 1.02387 6.82867 1.02387 5.712C1.02387 4.64 1.26953 3.702 1.76087 2.898C2.29687 2.094 2.96687 1.46867 3.77087 1.022C4.61953 0.575333 5.51287 0.351999 6.45087 0.351999ZM20.6549 0.351999C21.9949 0.351999 23.1115 0.686999 24.0049 1.357C24.8982 1.98233 25.5682 2.85333 26.0149 3.97C26.5062 5.042 26.7519 6.27033 26.7519 7.655C26.7519 9.397 26.3945 11.072 25.6799 12.68C25.0099 14.288 24.0495 15.7397 22.7989 17.035C21.5929 18.3303 20.1635 19.38 18.5109 20.184L14.8259 17.169C16.0319 16.7223 17.1262 16.1193 18.1089 15.36C19.0915 14.6453 19.9179 13.8413 20.5879 12.948C21.3025 12.0547 21.7939 11.139 22.0619 10.201L21.7939 10.067C21.5705 10.201 21.3025 10.3127 20.9899 10.402C20.6772 10.4913 20.2305 10.536 19.6499 10.536C19.0245 10.536 18.3545 10.3573 17.6399 10C16.9699 9.64267 16.3892 9.129 15.8979 8.459C15.4512 7.74433 15.2279 6.82867 15.2279 5.712C15.2279 4.64 15.4735 3.702 15.9649 2.898C16.5009 2.094 17.1709 1.46867 17.9749 1.022C18.8235 0.575333 19.7169 0.351999 20.6549 0.351999Z" fill="#111111"/>
          </svg></span>
        </p>
      </blockquote>
    </div>
    <div class="d-flex justify-content-center">
      <div class="quote-image">
        {{ quote.image }}
      </div>
      <div class="quote-text">
        <div class="text-dark fw-semibold">{{ quote.name }}</div>
        <p class="fs-6">{{ quote.job }}</p>
      </div>
    </div>
  </div>
</div>
