{{ attach_library('ignite_theme/pager') }}

{% if items %}
  <nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pagination">

      {% if items.previous %}
        <li class="page-item">
          <a class="page-link" href="{{ items.previous.href }}" title="{{ 'Go to previous page' }}" rel="prev">{{ 'Previous' }}</a>
        </li>
      {% endif %}

      {# Now generate the actual pager piece. #}
      {% block pager_items %}
        {% for key, item in items.pages %}
          <li class="page-item{{ current == loop.index ? ' active' : '' }}">
            {% if current == loop.index %}
              {% set title = 'Current page'|t %}
            {% else %}
              {% set title = 'Go to page ('|t ~ key ~ ')' %}
            {% endif %}
            <a href="{{ item.href }}" title="{{ title }}" class="page-link {{ item.attributes.class }}">
              <span class="visually-hidden">
                {{ current == loop.index ? 'Current page'|t : 'Page'|t }}
              </span>
              {{- key -}}
            </a>
          </li>
        {% endfor %}
      {% endblock %}

      {% if items.next %}
        <li class="page-item">
          <a class="page-link" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next">{{ 'Next'|t }}</a>
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}
