{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'block-views',
    wrapper_class,
    'container-fluid',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {% if content.field_title %}
      {%
        include '@ignite_theme/heading/heading.twig' with {
          "heading": {
            "title": content.field_title|field_value,
            "heading_level": "2",
            "modifier": "display-4 mb-5",
          },
        } only
      %}
    {% endif %}
    {{ content|without('field_title', 'field_link') }}
    {% if content.field_link[0]['#url'] %}
      {% include '@ignite_theme/button/button.twig' with {
        "button": {
          "url": content.field_link[0]['#url'],
          "text": content.field_link[0]['#title'],
          "modifier": "btn-primary",
        }
      } only %}
    {% endif %}
  {% endblock %}
</div>
