{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'pt-5 pb-5 pt-lg-12 pb-lg-12',
    'container-fluid',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% include '@ignite_theme/quote/quote.twig' with {
      "quote": {
        "modifier_class": "",
        "logo": content.field_logo.0,
        "quote": content.field_quote.0,
        "image": content.field_thumb.0,
        "name": content.field_author.0,
        "job": content.field_job_title.0,
        "layout": "left",
      }
    } only %}
  {% endblock %}
</div>
