{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'mt-6 mb-6 mt-lg-12 mb-lg-12',
    'bg-dark',
  ]
%}

{%
  set link = {
    url: content.field_link[0]['#url'],
    text: content.field_link[0]['#title'],
  }
%}

{%
  set image = content.field_media|render
%}

<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {% include '@ignite_theme/promo-banner/promo-banner.twig' with {
        modifier: 'bg-dark' ~ (image ? ' pt-5 pb-5' : ' p-2 pt-20 pb-20'),
        text_modifier: 'text-light',
        button_modifier: 'btn-outline-primary',
        eyebrow_modifier: 'text-bg-secondary text-uppercase',
        image: image,
        title: content.field_title|field_value,
        summary: content.field_summary|field_value,
        link: link,
        eyebrow: content.field_eyebrow|field_value,
      } only
    %}
  {% endblock %}
</div>
