{% if title %}
  {%
    include '@ignite_theme/heading/heading.twig' with {
      "heading": {
        "title": title,
        "heading_level": "2",
        "modifier": "mb-8",
      },
    } only
  %}
{% endif %}
