{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
<div class="carousel-multi-item col-md-6 col-lg-5 col-xxl-4">
  {%
    include '@ignite_theme/card/card.twig' with {
      "card": {
        "media": content.field_media,
        "media_link": content.field_link[0]['#url'],
        "heading": {
          "title": content.field_title|field_value,
          "heading_level": "3",
          "url": content.field_link[0]['#url'],
          "modifier": "text-dark mb-2"
        },
        "summary_text": content.field_summary|field_value,
        "link": {
          "text": content.field_link[0]['#title'],
          "url": content.field_link[0]['#url']
        },
        "tags": content.field_tags|field_value,
      }
    } only
  %}
</div>
