{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{%
  set link = {
    url: '/ignite-irl',
    text: 'See all Case Studies'|t,
    modifier:  '',
  }
%}

{% embed '@ignite_theme/carousel-multi/carousel-multi.twig' with {
  id: id,
  rows: rows,
  title: 'Case Studies'|t,
  link: link,
} only %}
  {% block carousel_items %}
    {% for row in rows %}
      {{- row.content -}}
    {% endfor %}
  {% endblock %}
{% endembed %}
