{{ attach_library('ignite_theme/search-api-results') }}
<div class="search-api-results container-fluid">
  {{ form }}

  {% if search_title %}
    <h2>{{ search_title }}</h2>
  {% endif %}

  {% if no_of_results %}
    <p>{{ no_of_results }}</p>
  {% endif %}

  {{ no_results_found }}

  {% if search_help %}
    <div class="pb-6 pb-lg-12">
      {{ search_help }}
    </div>
  {% endif %}

  {{ results }}

  {{ pager }}
</div>