{{ attach_library('ignite_theme/side-by-side') }}

<div class="side-by-side container-fluid {{ modifier }}">
  <div class="row flex-column gy-3 {{ ('right' in modifier) ? 'flex-lg-row-reverse ' : 'flex-lg-row ' }}justify-content-between align-items-center">
    <div class="col-lg-6">
      {% if 'sb-only' in modifier %}
        <picture>{{ media }}</picture>
      {% else %}
        {{ media }}
      {% endif %}
    </div>
    <div class="col-lg-6 col-xxl-5 d-flex flex-column gap-3">
      {% if eyebrow %}
        {% include '@ignite_theme/badge/badge.twig' with {
          tag: eyebrow,
          modifier: 'text-bg-secondary text-uppercase'
        } only %}
      {% endif %}
      {%
        include '@ignite_theme/heading/heading.twig' with {
          "heading": {
            title: title,
            heading_level: 2,
            modifier: 'mb-0'
          }
        } only
      %}
      <div>
        {% if body %}
          {{ body }}
        {% endif %}
      </div>
        {% if button.url %}
          {% include '@ignite_theme/button/button.twig' with {
            button: {
              url: button.url,
              text: button.text,
              icon: button.icon,
              modifier: button.modifier
            }
          } only %}
        {% endif %}
    </div>
  </div>
</div>
