{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('ignite_theme/site-footer') }}

<div class="site-footer bg-black">
  <div class="container-fluid p-md-5 pt-8 pb-5">
    <div class="row d-lg-flex flex-wrap justify-content-lg-between align-items-center">
      <div class="col-lg-2">
        {%
          include '@ignite_theme/logo/logo.twig' with { modifier: "", site_logo: site_logo } only
        %}
      </div>
      <div class="col-lg-8 text-right justify-lg-content-end">
        <div class="{{ show_social ? 'mb-9' : '' }}">
          {% block content %}
            {{ content }}
          {% endblock %}
        </div>
        {% if show_social %}
          {%
            include '@ignite_theme/social-icons/social-icons.twig' with {
              "social_icons": {
                "facebook_url": "https://www.facebook.com/mediacurrent/",
                "twitter_url": "https://twitter.com/mediacurrent",
                "youtube_url": "https://www.youtube.com/user/MediacurrentDrupal",
                "instagram_url": "https://www.instagram.com/mediacurrent",
                "style": "social-icon-dark",
                "modifier": "justify-content-lg-end d-lg-flex",
              }, } only
          %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
