{% for item in items %}
  <div class="carousel-multi-item col-md-6 col-lg-5 col-xl-4">
    {%
      include '@ignite_theme/card/card.twig' with {
        "card": item.card
      } only
    %}
  </div>
{% endfor %}
