{{ attach_library('ignite_theme/carousel-multi') }}

<div class="d-flex justify-content-between">
  {% if title %}
    <div class="">
      {%
        include '@ignite_theme/heading/heading.twig' with {
          "heading": {
            "title": title,
            "heading_level": "2",
            "modifier": "mb-8",
          },
        } only
      %}
    </div>
  {% endif %}

  {% if link.url %}
    <div class="mt-1">
      <a href="{{ link.url }}">{{ link.text }}</a>
    </div>
  {% endif %}
</div>

<div id="carousel{{ id }}" class="carousel-multi d-flex flex-nowrap row {{ modifier }}">
  {% block carousel_items %}
    {%
      include '@ignite_theme/carousel-multi/carousel-multi.item.twig' with {
        items: items
      } only
    %}
  {% endblock %}
</div>

<div class="carousel-nav d-flex justify-content-end mt-8">
  <a class="carousel-prev" aria-label="View the previous carousel item" name="Previous carousel item" href="#"><span data-target="#carousel{{ id }}" class="carousel-control-prev-icon" aria-hidden="true"></span></a>
  <a class="carousel-next mx-3" aria-label="View the next carousel item" name="Next carousel item" href="#"><span data-target="#carousel{{ id }}" class="carousel-control-next-icon" aria-hidden="true"></span></a>
</div>
