{{ attach_library('ignite_theme/card-list') }}

{% if section_title %}
  {%
    include '@ignite_theme/heading/heading.twig' with {
      "heading": {
        "title": section_title,
        "heading_level": 2,
        "modifier": "display-4"
      }
    } only
  %}
{% endif %}

<div class="row mt-4">
  {% block card_items %}
    {% for item in items %}
      <div class="col-sm-4 mb-4">
        {%
          include '@ignite_theme/card/card.twig' with {
            "card": item.card
          } only
        %}
      </div>
    {% endfor %}
  {% endblock %}
</div>
